body {
    background: #1E1E1E;
    text-align: center;
}

.flex-container {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    width: 1440px;
    margin-left: 20px;
}

/* TASK-1 : HEADER */
.header {
    background-image: url('header-img.png');
    background-repeat: no-repeat;
    width: 1440px;
    height: 863px;
}

.Teanologi {
    margin-top: -10px;
    font-family: 'Jost';
    font-style: italic;
    font-weight: 600;
    font-size: 16px;
    line-height: 23px;

    color: #000000;

}

.group-1 {
    display: flex;
    justify-content: space-evenly;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 39px;
    /* identical to box height */


    color: #000000;
    margin-left: 442px;
    margin-right: 442px;
    margin-bottom: 19px;
}

@media screen and (max-width: 576px) {
    .header {
        width: 100%;
    }
}


/* TASK-2 : ABOUT US */
.about-us {
    margin-top: 37px;
    display: flex;
}

.homemade {
    background: #9CAB70;
}

.hommade-title {
    font-family: 'Kaisei Decol';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 70px;
    /* identical to box height */
    margin-top: 41px;
    margin-left: 383px;
    margin-right: 264px;
    color: #FFFFFF;
}

.homemade-content {
    font-family: 'Kaisei Decol';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 46px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 27px;
    margin-bottom: 139px;
    margin-right: 58px;
    margin-left: 207px;
}

@media screen and (max-width: 576px) {
    .about-us {
        flex-direction: column;
        width: 100%;
    }
}

/* TASK-3 : PRODUCT */
.product {
    margin-top: 37px;
    background: #EEEEEE;
}

.product-title {
    font-family: 'Kaisei Decol';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 70px;
    /* identical to box height */
    color: #000000;
    margin: 58px 431px 94px 421px;
}

.group-3 {
    display: flex;
    margin-left: 96px;
    margin-right: 86px;
    margin-bottom: 131px;
}

.product-img {
    margin-bottom: 13px;
}

.group-3-title {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 35px;
    /* identical to box height */
    margin-bottom: 4px;
    color: #000000;
}

.group-3-detail {
    font-family: 'Kaisei Decol';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 23px;
    text-align: center;

    color: #000000;
}

.Stevia {
    margin-right: 54px;
}

.Chamomile {
    margin-right: 54px;
}

.Teh-Hijau {
    margin-right: 54px;
}

@media screen and (max-width: 768px) {
    .group-3 {
        flex-direction: column;
        width: 100%;
    }
}

/* TASK-4 : DISCOUNT */
.discount {
    display: flex;
    margin-top: 42px;
}

.sales {
    margin-right: 25px;
    width: 926px;
    background: #9CAB70;
}

.sales-title {
    font-family: 'Italiana';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 75px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 15px;
}

.sales-content {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 46px;
    text-align: center;
    color: #FFFFFF;
    margin-left: 126px;
    margin-right: 147px;
    margin-bottom: 80px;
}

.sales-button {
    background: rgba(255, 255, 255, 0.8);
    border: 2px solid #68763F;
    border-radius: 20px;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 46px;
    text-align: center;

    color: #383F26;

}

/* TASK-5 : CONTACT */
.contact {
    background-image: url('contact-img.png');
    width: 1440px;
    margin-top: 32px;
}

#contact-box {
    margin-left: 416px;
    margin-right: 412px;
    width: 607px;
    height: 603px;
    background: #FAFAFA;
    display: flex;
    justify-content: flex-start;
}

.contact-header {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 58px;
    /* identical to box height */

    text-align: center;
    color: #000000;
    margin-top: 41px;
    margin-bottom: 32px;
}

.name-box {
    background: #FFFFFF;
    border: 4px solid #9CAB70;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    width: 515px;
    height: 56px;

    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 46px;
    text-align: left;
    margin-left: 24px;
    margin-bottom: 28px;
    color: #787B6D;
}

.email-box {
    background: #FFFFFF;
    border: 4px solid #9CAB70;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    width: 515px;
    height: 56px;

    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 46px;
    text-align: left;
    margin-left: 24px;
    margin-bottom: 28px;
    color: #787B6D;
}

.message-box {
    background: #FFFFFF;
    border: 4px solid #9CAB70;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    width: 515px;
    height: 135px;

    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 46px;
    text-align: left;
    color: #787B6D;
    margin-left: 24px;
}

.contact-button {
    background: #68763F;
    border: 4px solid #9CAB70;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    width: 153px;
    height: 52px;
    margin-top: 60px;
    margin-left: 389px;

    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 46px;
    text-align: center;
    color: #FFFFFF;
}

@media screen and (max-width: 576px) { .contact
    {
        flex-direction: column;
        width: 100%;
    }
}

/* TASK-6 : FOOTER */
.footer {
    margin-top: 32px;
}

.footer-menu {
    display: flex;
    justify-content: space-evenly;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 39px;
    /* identical to box height */

     color: #9CAB70;
}

.footer-details {
    margin-right: 40px;
}